[project]
	description = collection of scripts for Command & Conquer - Tiberium Alliances
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander D. Kanevskiy (kad)
[access "refs/for/refs/*"]
	read = group user/Alexander D. Kanevskiy (kad)
	push = group user/Alexander D. Kanevskiy (kad)
	label-Code-Review = -2..+2 group user/Alexander D. Kanevskiy (kad)
	label-Verified = -1..+1 group user/Alexander D. Kanevskiy (kad)
	rebase = group user/Alexander D. Kanevskiy (kad)
	removeReviewer = group user/Alexander D. Kanevskiy (kad)
	submit = group user/Alexander D. Kanevskiy (kad)
[access "refs/heads/*"]
	read = group user/Alexander D. Kanevskiy (kad)
	create = group user/Alexander D. Kanevskiy (kad)
	push = +force group user/Alexander D. Kanevskiy (kad)
	pushMerge = group user/Alexander D. Kanevskiy (kad)
[access "refs/tags/*"]
	push = +force group user/Alexander D. Kanevskiy (kad)
	pushTag = group user/Alexander D. Kanevskiy (kad)
	pushSignedTag = group user/Alexander D. Kanevskiy (kad)
